/*! Coisas GLOBAIS*/
:root { /*Aqui é as váriaveis globais */
    --color-text: #FFFF;
    --color-shadow: rgba(0, 0, 0, 0.7);
    --font_titulo: 50px;
    --font_subtitulo: 25px;
}

.card{
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 30px;
    border: 2px solid rgba(255,255,255,0.2);
}

.card_titulo{
    font-size: var(--font_titulo);
    margin-bottom: 40px;
}
.card_descricao{
    margin-bottom: 80px;
    font-size: var(--font_subtitulo)
}

/*! Botão*/
.btn{
    position: fixed;
    top:0px;
    right:10px;
    display: flex;
    gap:10px;
}

.btn button{
    border: none;
    border-radius:30px;
    background-color: #FFFF;
    padding: 3px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3;
}

.btn button:hover{ /*Quando ele passar pro cima do botão*/
    color: #ffffff;
}

/*! A lista por item*/
.lista_link{ /*Cada "item"*/
    display:flex;
    gap: 20px;
    list-style: none;
    padding:0;
    cursor: pointer;
}

.lista_item:hover{
    font-weight: 700; /*bold */
    color: #ffeeee;
    text-shadow: 0 8px 16px rgba(0, 0, 0, 0.7)
}

/*! A lista inteira*/
.container_lista { 
    position: absolute;
    top: 530px; 
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 15px;
    font-size: 20px;
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    border-radius: 30px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.7);
}

/*! Titulo e descrição*/
.container_titulo {
    max-width: 650px;
    position: absolute;
    text-align: center;
    top: 70px;
    left: 70px;
    padding: 20px;
    color: var(--color-text);
    text-shadow: 0 10px 16px var(--color-shadow);
}

.container_titulo h1{
    font-size: var(--font_titulo);
}

.container_titulo h2{
    font-size: var(--font_subtitulo);
    padding: 10px;
}

/*! "Abas" descrição */
.container_descricao{
    width: 50%;
    max-width: 1000px;
    position: relative;
    margin: 800px 0 0 0;
    text-align: center;
    padding: 10px;
    color: var(--color-text);
    text-shadow: 0 10px 16px var(--color-shadow);
    border: 10px solid;
}
