:root { /*Aqui é as váriaveis globais */
    --color-text: #FFFF;
    --color-shadow: rgba(0, 0, 0, 0.7);
    --spacing-sm: 5px;
    --font-size-title: 50px;
    --font-size-subtitle: 25px;
}
/*! Botão*/
.btn{
    position: fixed;
    top:0px;
    right:10px;
    display: flex;
    gap:10px;
}

.btn button{
    border: none;
    border-radius:30px;
    background-color: #FFFF;
    padding: 3px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3;
}

.btn button:hover{ /*Quando ele passar pro cima do botão*/
    color: #ffffff;
}

/*! A lista por item*/
.lista_link{ /*Cada "item"*/
    display:flex;
    gap: 20px;
    list-style: none;
    padding:0;
    cursor: pointer;
}

.lista_item:hover{
    font-weight: 700; /*bold */
    color: #ffeeee;
    text-shadow: 0 8px 16px rgba(0, 0, 0, 0.7)
}

/*! A lista inteira*/
.container_lista{ 
    width: fit-content;
    position: absolute;
    top: 0px;
    margin-top: 530px;
    display:flex;
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    border-radius: 30px;
    padding: 10px;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.7);
}

/*! Titulo e descrição*/
.container_titulo {
    position: absolute;
    top: 70px;
    left: 70px;
    padding: 20px;
    color: var(--color-text);
    text-shadow: 0 10px 16px var(--color-shadow);
}

.container_titulo h1{
    font-size: var(--font-size-title);
    margin: 0;
}

.container_titulo h2{
    font-size: var(--font-size-subtitle);
    padding: 10px;
    max-width: 650px;
}

/*! Descrição */
.titulo_projeto,.titulo_stack {

    margin: 700px 0 30px 0;
    font-size: 50px;
    font-weight: bold;
    color: #fff;
    text-align: left;
    padding-left: 20px;
}

.projeto_descricao {
    margin: 0;
    font-size: 25px;
    font-weight: normal;
    color: #fff;
    text-align: left;
    line-height: 1.6;
    padding-left: 20px;
}

/*! Funcionalidades*/
.titulo_funcionalidades {
    position: relative;
    left:0;
    margin: 200px 0 0 0;
    font-size: 50px;
    font-weight: bold;
    color: #fff;
}

.projeto_funcionalidades {
    margin: 0;
    font-size: 25px;
    font-weight: normal;
    color: #fff;
    text-align: left;
    line-height: 1.6;
    padding-left: 20px;
}


 /*! Stack*/
.titulo_stack {
    margin: 200px 0 0 0;
    font-size: 50px;
    font-weight: bold;
    color: #fff;
}

.projeto_stack {
    margin: 0;
    font-size: 25px;
    font-weight: normal;
    color: #fff;
    text-align: left;
    line-height: 1.6;
    padding-left: 20px;
}

.card{
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* suporte Safari */
    border-radius: 20px;
    padding: 20px;
    border: 1px solid rgba(255,255,255,0.2);
}