/*! Coisas GLOBAIS*/
:root { /*Aqui é as váriaveis globais */
    --color-text: #FFFF;
    --color-shadow: rgba(0, 0, 0, 0.7);
    --font_titulo: 50px;
    --font_subtitulo: 25px;
}

.card{
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 30px;
    border: 2px solid rgba(255,255,255,0.2);
}

.card_titulo{
    font-size: var(--font_titulo);
    margin-bottom: 40px;
}
.card_descricao{
    margin-bottom: 80px;
    font-size: var(--font_subtitulo)
}

/*! Botão*/
.btn{
    position: fixed;
    top:0px;
    right:10px;
    display: flex;
    gap:10px;
}

.btn button{
    border: none;
    border-radius:30px;
    background-color: #FFFF;
    padding: 3px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3;
}

.btn button:hover{ /*Quando ele passar pro cima do botão*/
    color: #ffffff;
}

/*! Titulo e descrição*/
.container_titulo {
    max-width: 650px;
    position: absolute;
    text-align: center;
    padding: 25px;
    color: var(--color-text);
    text-shadow: 0 10px 16px var(--color-shadow);
}

.container_titulo h1{
    font-size: var(--font_titulo);
}

.container_titulo h2{
    margin-top: 20px;
    font-size: 30px;
    padding: 10px;
}

/*! "Abas" descrição */
.container_descricao{
    display: flex;
    justify-content: center;
    gap:40px;
    flex-wrap: wrap;
    position: relative;
    margin: 800px 0 0 0;
    text-align: center;
    padding: 10px;
    color: var(--color-text);
    text-shadow: 0 10px 16px var(--color-shadow);
}

.card_item{
  max-width: 600px;
  background: rgba(255,255,255,0.05);
  padding: 25px;
  border-radius: 20px;
  text-align: center;
}


.card_item:hover .card_titulo{
    color: #FFFF;
    transition: all 0.3s ease;
}

.card_item:hover .card_titulo { /*O gradiente so vai aparecer no hover*/
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  /*Aqui ele vai recorta o background e colocar no texto*/
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /*Deixa o texto transparente*/ 
  background-clip: text;
  color: transparent;
}