*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;

  /*Tira as setas do input de idade*/
  input[type="number"]::-webkit-outer-spin-button,  /*Seleciona os inputs q são tipo "Number", e pega o pseudo-elemento (é botão inferior (↓)) */
  input[type="number"]::-webkit-inner-spin-button { 
    -webkit-appearance: none; /*Remove a aparencia*/
    margin: 0; /*Remove os espaçamentos*/
  }

  input[type="number"] { /*Aplica a propriedade*/
    appearance: textfield;
  }
}

body{
  background: linear-gradient(135deg, #0f0f1a 0%, #1c1c2e 100%);
  background-attachment: fixed; /* deixa o fundo fixo */
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  
}